<div data-role="header">
  <%= link_to '<'.html_safe , root_path, :class => "ui-btn-left" %>	
  <h1>Hilfe</h1>
</div>
<div data-role="content">
	<div data-role="collapsible-set">
		<div data-role="collapsible">
		   <h3>Cluster-Kopfschmerzen</h3>
		   <p>Der Cluster-Kopfschmerz ist ein schwerer Kopfschmerz, der einseitig und in Attacken (Clustern) auftritt. Typischerweise setzen die Cluster-Kopfschmerzen immer zur gleichen Tageszeit ein, am häufigsten ein bis zwei Stunden nach dem Einschlafen oder in den frühen Morgenstunden. Die Schmerzattacken werden oft von einem tränenden, geröteten Auge sowie einer laufenden Nase begleitet.</p>
		</div>
		<div data-role="collapsible">
		   <h3>Hormonelle Kopfschmerzen</h3>
		   <p>Die hormonellen Kopfschmerzen werden bei vielen Frauen während ihrer Regelblutung festgestellt. Dieser Kopfschmerz wird durch das weibliche Hormon Östrogen verursacht. Die hormonellen Kopfschmerzen äußern sich meist wie ein Migräne mit einseitigen stechenden Kopfschmerzen, Überlkeit und Lichtempfindlichkeiten.</p>
		</div>
		<div data-role="collapsible">
		   <h3>Migräne</h3>
		   <p>Mirgäne ist ein anfallsartig auftretender, pulsierend-pochender und meist einseitiger Kopfschmerz, der oft mit Übelkeit und Erbrechen einhergeht. Patienten mit Migräne sind meist licht- und lautstärkeempfindlich. Frauen sind 3 mal häufiger davon betroffen als Männer.</p>
		</div>
		<div data-role="collapsible">
		   <h3>Organische Kopfschmerzen</h3>
		   <p>Organische Kopfschmerzen sind ein Resultat von einer Abnormalität von Schädel oder Gehirn. D.h. es kann ein Hinweis auf einen Tumor sein. Der Kopfschmerz spiegelt sich wider in Gleichgewichtsstörung und Verwirrtheit, tritt jedoch eher seltener auf.</p>
		</div>
		<div data-role="collapsible">
		   <h3>Rebound-Kopfschmerzen</h3>
		   <p>Rebound-Kopfschmerzen treten in der Regel bei falscher Anwendung von Medikamenten auf. Dadurch kann der Kopfschmerz noch verstärkt werden und zu einem zyklischen Effekt führen.</p>
		</div>
		<div data-role="collapsible">
		   <h3>Sekundärer Kopfschmerz</h3>
		   <p>Sekundäre Kopfschmerzen können ein Resultat von anderen medizinischen Problemen sein. Sie können im Kopf oder Nacken, bei Infektionen oder bei einem Tumor auftreten.</p>
		</div>
		<div data-role="collapsible">
		   <h3>Sinus-Kopfschmerzen</h3>
		   <p>Der Sinus Kopfschmerz sitzt in der Stirn, Wangen oder Nasenbrücke. Sinus-Kopfschmerzen entstehen meist bei einer Erkältung oder werden von Allergien ausgelöst.</p>
		</div>
		<div data-role="collapsible">
		   <h3>Spannungskopfschmerz</h3>
		   <p>Der Spannungskopfschmerz ist der verbreitetste Kopfschmerz. Meist geht der Schmerz vom Nacken aus und verteilt sich über größere Bereiche, manchmal auf den gesamten Kopf. Häufig ist er aber nicht genau lokalisierbar.</p>
		</div>
	</div>
</div>
