<div data-role="header" data-position="fixed">		
	<div data-role="navbar">
		<ul>
			<li><a href="#">Speichern</a></li>
			<li><a href="#">Abbrechen</a></li>
		</ul>
	</div><!-- /navbar -->
</div><!-- /footer -->
<%= render 'form' %>