<div data-role="header">
  <%= link_to '<'.html_safe , root_path, "data-role" => "button", "data-icon" => "arrow-l", "data-iconpos" => "notext" %>	
  <h1>Auswertungen</h1>
</div>
<div data-role="content">
</div>
