<div data-role="header" data-position="fixed">
  <%= link_to '<'.html_safe , settings_path, :class => "ui-btn-left" %>
  <h1>Medikamente</h1>
  <%= link_to '+'.html_safe , new_medication_path, :class => "ui-btn-right" %>
</div>
<div data-role="content">
  <ul data-role="listview">
  <% @medications.each do |medication| %>
    <li>
    <%= link_to edit_medication_path(medication) do %>
      <h3><%= medication.title %></h3>
    <% end %>
    </li>
  <% end %>
  </ul>
</div>
