<div data-role="header" data-position="fixed">
  <%= link_to '<'.html_safe , settings_path, :class => "ui-btn-left" %>
  <h1>Auslöser</h1>
</div>
<div data-role="content">
  <ul data-role="listview">
  <% @triggers.each do |trigger| %>
    <li>
    <%= link_to edit_trigger_path(trigger) do %>
      <h3><%= trigger.title %></h3>
    <% end %>
    </li>
  <% end %>
  </ul>
</div>
<div data-role="navbar" data-position="fixed">
	<ul>
		<li><%= link_to "Neuer Eintrag", new_trigger_path, "data-icon" => "plus", "data-iconpos" => "left" %></li>
	</ul>
</div>