<div data-role="header" data-position="fixed">
  <%= link_to '<'.html_safe , settings_path, :class => "ui-btn-left" %>
  <h1>Auslöser</h1>
  <%= link_to '+'.html_safe , new_trigger_path, :class => "ui-btn-right" %>
</div>
<div data-role="content">
  <ul data-role="listview">
  <% @triggers.each do |trigger| %>
    <li>
    <%= link_to edit_trigger_path(trigger) do %>
      <h3><%= trigger.title %></h3>
    <% end %>
    </li>
  <% end %>
  </ul>
</div>
