<div data-role="header" data-position="fixed">
    <%= link_to '<'.html_safe , settings_path, :class => "ui-btn-left" %>	
  <h1>Schmerzorte</h1>
  <%= link_to '+'.html_safe , new_location_path, :class => "ui-btn-right" %>
</div>
<div data-role="content">
  <ul data-role="listview">
  <% @locations.each do |location| %>
    <li>
    <%= link_to edit_location_path(location) do %>
      <h3><%= location.title %></h3>
    <% end %>
    </li>
  <% end %>
  </ul>
</div>
