<div data-role="header" data-position="fixed">
    <%= link_to '<'.html_safe , settings_path, "data-role" => "button", "data-icon" => "arrow-l", "data-iconpos" => "notext" %>	
  <h1>Schmerzorte</h1>
</div>
<div data-role="content">
  <ul data-role="listview">
  <% @locations.each do |location| %>
    <li>
    <%= link_to edit_location_path(location) do %>
      <h3><%= location.title %></h3>
    <% end %>
    </li>
  <% end %>
  </ul>
</div>
<div data-role="navbar" data-position="fixed">
	<ul>
		<li><%= link_to "Neuer Eintrag", new_location_path, "data-icon" => "plus", "data-iconpos" => "left" %></li>
	</ul>
</div>