<div data-role="header">
  <h1>Schmerzorte</h1>
  <%= link_to '+'.html_safe , new_location_path, :class => "ui-btn-right" %>
</div>
<div data-role="content">
  <ul data-role="listview">
  <% @locations.each do |location| %>
    <li>
    <%= link_to edit_location_path(location) do %>
      <h2><%= location.title %></h2>
    <% end %>
    </li>
  <% end %>
  </ul>
</div>
<div data-role="footer" class="ui-bar">
  
</div>
